
h1, h1 + p, h2
{
    text-align: center;
    margin-right: 10%;
}

/*img
{
    float: right;
}*/

h2
{
    color: #6E4A46;
}

h3
{
    position: absolute;
    left: 50px;
}

/*section
{
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    height:80%;
}*/

footer
{
    text-align: center;
    left: 150px;
    /*position: absolute;*/
    bottom: 0px;
    background-color: white;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}